* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(205, 224, 205);
}

main h1 {
  color: green;
}

#scores-Content {
  list-style-type: none;
  border: 3px solid green;
  padding: 10px;
  margin-top: 10px;
  overflow-y: auto;
}

li {
  padding: 5px;
}

li:nth-child(even) {
  background-color: rgb(70, 170, 70);
  color: white;
}

.leaderboard-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.scoreAdd-Container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

#scores-Container,
#add-Container {
  padding: 25px;
  color: green;
}

.scoreHeader {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  margin-top: 12px;
  padding: 15px;
  border: 3px solid green;
}

::placeholder {
  opacity: 1;
  color: green;
  background-color: rgb(234, 241, 234);
}

button {
  padding: 3px 8px;
  border: 2px solid green;
  border-radius: 3px;
  background-color: rgb(205, 224, 205);
  color: green;
  box-shadow: 2px 2px 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(222, 231, 222);
  box-shadow: 2px 2px 15px white;
}
